.component-container {
  margin: 5rem 0;
  padding: 4rem;
  gap: 3rem;
  border: 0.063rem solid hsl(var(--clr-light));
}

.logo {
  line-height: 0;
}

.navigation-states,
.tabs-states,
.button-states,
.pagination-states,
.navigation-container {
  padding: 3rem;
  border: 0.1rem dotted hsl(var(--clr-light));
}

.navigation-states {
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.navigation-state {
  gap: 2rem;
  border: none;
}

.navigation.tablet {
  margin: 0rem;
}

.navigation-logo.tablet {
  padding: 0 2.5rem;
}

.navigation-divider.tablet {
  display: none;
}

.navigation-menu-container.tablet {
  justify-content: end;
  flex-grow: 1;
  padding: 0 2.5rem 0 2.5rem;
}

.navigation.mobile {
  height: auto;
}

.navigation-logo.mobile {
  padding: 0 1.5rem;
}

.navigation-divider.mobile {
  display: none;
}

.navigation-menu-container.mobile {
  width: 80%;
  flex-direction: column;
  padding: 2rem 0 2rem 2rem;
  gap: 2rem;
}

.navigation-menu.mobile {
  width: 100%;
  height: auto;
  border-bottom: none;
  border-right: 0.188rem solid transparent;
}

.navigation-menu.mobile:hover {
  border-color: hsl(var(--clr-white) / 0.5);
}

.navigation-menu.mobile:visited {
  color: inherit;
}

.navigation-menu.mobile:active {
  border-color: hsl(var(--clr-white));
}

.navigation-mobile-menu.mobile {
  display: block;
}

.navigation-mobile-menu-close.mobile {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  margin-bottom: 5rem;
}

.tabs-states {
  gap: 3.938rem;
}

.button-states {
  gap: 16.688rem;
}

.button.mobile {
  width: 9rem;
  height: 9rem;
}

.button.mobile span {
  border: 4rem solid transparent;
}

.button.mobile:hover > span {
  color: hsl(var(--clr-dark) / 0.5);
  border-color: hsl(var(--clr-white) / 0.1);
}

.pagination-states {
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.small-pagination.tablet {
  width: 0.625rem;
  height: 0.625rem;
}

.small-pagination.tablet:hover {
  opacity: 50.01%;
}

.small-pagination.tablet:visited {
  opacity: 17.44%;
}

.small-pagination.tablet:active {
  opacity: 100%;
}

.large-pagination.tablet {
  width: 3.5rem;
  height: 3.5rem;
}

.large-pagination.tablet:hover {
  border-color: hsl(var(--clr-white));
}

.large-pagination.tablet:visited {
  border: 0.063rem solid hsl(var(--clr-white) / 0.25);
}

.large-pagination.tablet:active {
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white));
  border-color: hsl(var(--clr-white));
}

.large-pagination.mobile {
  width: 2.5rem;
  height: 2.5rem;
}

.large-pagination.mobile:hover {
  border-color: hsl(var(--clr-white));
}

.large-pagination.mobile:visited {
  border: 0.063rem solid hsl(var(--clr-white) / 0.25);
}

.large-pagination.mobile:active {
  color: hsl(var(--clr-dark));
  background-color: hsl(var(--clr-white));
  border-color: hsl(var(--clr-white));
}
