<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <title>Components</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../components/components.css" />
  </head>

  <body>
    <!-- Focus on star comments to copy components as it has lot of examples. -->
    <div class="main">
      <div class="container">
        <div class="component-container flex column">
          <h3 class="fs-3 ff-bellefair uppercase">Single Components</h3>

          <div class="flex column">
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
            <!-- **************************** Start Logo Component **************************** -->
            <img
              class="logo"
              src="../assets/shared/logo.svg"
              alt="Logo of the site"
            />
            <!-- **************************** End Logo Component ****************************-->
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
          </div>

          <div class="navigation-states grid">
            <div class="navigation-state flex justify-center align-center">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Navigation Menu Component **************************** -->
              <a
                class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                href="../index.html"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu
              </a>
              <!-- **************************** End Navigation Menu Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <a
                class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                href="../index.html"
                style="border-color: hsl(var(--clr-white) / 0.5)"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu - Hover
              </a>
              <a
                class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                href="../index.html"
                style="border-color: hsl(var(--clr-white))"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu - Active
              </a>
            </div>
            <div
              class="navigation-state flex column justify-center align-center"
            >
              <a
                class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                href="../index.html"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu
              </a>
              <a
                class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                href="../index.html"
                style="border-color: hsl(var(--clr-white) / 0.5)"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu - Hover
              </a>
              <a
                class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                href="../index.html"
                style="border-color: hsl(var(--clr-white))"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu - Active
              </a>
            </div>
          </div>

          <div class="tabs-states flex column">
            <div
              class="tabs-menu-container flex justify-center align-center"
              style="gap: 3.938rem"
            >
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Tabs Menu Component **************************** -->
              <a
                class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                href="../index.html"
              >
                Tabs Menu
              </a>
              <!-- **************************** End Tabs Menu Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <a
                class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                href="../index.html"
                style="border-color: hsl(var(--clr-white) / 0.5)"
              >
                Tabs Menu - Hover
              </a>
              <a
                class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                href="../index.html"
                style="border-color: hsl(var(--clr-white))"
              >
                Tabs Menu - Active
              </a>
            </div>
          </div>

          <div class="button-states flex justify-center">
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
            <!-- **************************** Start Button Component **************************** -->
            <a
              class="button flex justify-center align-center bg-white fs-4 ff-bellefair text-dark uppercase"
            >
              Explore
            </a>
            <!-- **************************** End Button Component **************************** -->
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->

            <a
              class="button flex justify-center align-center bg-white fs-4 ff-bellefair text-dark uppercase"
              style="
                box-shadow: 0 0 0 5.5rem hsl(var(--clr-white) / 0.1);
                color: hsl(var(--clr-dark) / 0.5);
              "
            >
              Explore - Hover
            </a>
          </div>

          <div class="button-states flex justify-center">
            <a
              class="button mobile flex justify-center align-center bg-white fs-9 ff-bellefair text-dark uppercase"
            >
              Explore - Mobile
            </a>
            <a
              class="button mobile flex justify-center align-center bg-white fs-9 ff-bellefair text-dark uppercase"
              style="
                box-shadow: 0 0 0 4rem hsl(var(--clr-white) / 0.1);
                color: hsl(var(--clr-dark) / 0.5);
              "
            >
              Explore - Mobile Hover
            </a>
          </div>

          <div class="pagination-states grid">
            <div class="flex justify-center" style="gap: 3.375rem">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Small Single Pagination Component **************************** -->
              <a class="small-pagination bg-white"></a>
              <!-- **************************** End Small Single Pagination Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <a class="small-pagination bg-white" style="opacity: 50.01%"></a>
              <a class="small-pagination bg-white" style="opacity: 100%"></a>
            </div>

            <div class="flex justify-center" style="gap: 3.375rem">
              <a class="small-pagination tablet bg-white"></a>
              <a
                class="small-pagination tablet bg-white"
                style="opacity: 50.01%"
              ></a>
              <a
                class="small-pagination tablet bg-white"
                style="opacity: 100%"
              ></a>
            </div>
          </div>

          <div class="pagination-states grid">
            <div class="flex justify-center" style="gap: 3.375rem">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Large Single Pagination Component **************************** -->
              <a
                class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                >0
              </a>
              <!-- **************************** End Large Single Pagination Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <a
                class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                style="border-color: hsl(var(--clr-white))"
                >0
              </a>
              <a
                class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                style="
                  color: hsl(var(--clr-dark));
                  background-color: hsl(var(--clr-white));
                  border-color: hsl(var(--clr-white));
                "
                >0
              </a>
            </div>

            <div class="flex justify-center" style="gap: 3.375rem">
              <a
                class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                >0
              </a>
              <a
                class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                style="border-color: hsl(var(--clr-white))"
                >0
              </a>
              <a
                class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                style="
                  color: hsl(var(--clr-dark));
                  background-color: hsl(var(--clr-white));
                  border-color: hsl(var(--clr-white));
                "
                >0
              </a>
            </div>
          </div>
        </div>

        <div class="component-container flex column">
          <h3 class="fs-3 ff-bellefair uppercase">Grouped Components</h3>
          <div class="navigation-container flex column">
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
            <!-- **************************** Start Whole Navigation Component **************************** -->
            <div class="navigation flex align-center justify-between">
              <img
                class="logo"
                src="../assets/shared/logo.svg"
                alt="Logo of the site"
              />
              <div class="navigation-divider divider-white"></div>
              <div class="navigation-menu-container flex align-center">
                <img
                  src="../assets/shared/icon-close.svg"
                  class="navigation-mobile-menu-close flex"
                />
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 00 </span>
                  Home
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 01 </span>
                  Destination
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 02 </span>
                  Crew
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 03 </span>
                  Technology
                </a>
              </div>
              <img
                src="../assets/shared/icon-hamburger.svg"
                class="navigation-mobile-menu"
              />
            </div>
            <!-- **************************** End Whole Navigation Component **************************** -->
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
          </div>

          <div class="navigation-container flex column">
            <div class="navigation tablet flex align-center justify-between">
              <img
                class="logo"
                src="../assets/shared/logo.svg"
                alt="Logo of the site"
              />
              <div class="navigation-divider tablet divider-white"></div>
              <div class="navigation-menu-container tablet flex align-center">
                <img
                  src="../assets/shared/icon-close.svg"
                  class="navigation-mobile-menu-close flex"
                />
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 00 </span>
                  Home
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 01 </span>
                  Destination
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 02 </span>
                  Crew
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 03 </span>
                  Technology
                </a>
              </div>
              <img
                src="../assets/shared/icon-hamburger.svg"
                class="navigation-mobile-menu"
              />
            </div>
          </div>
          <div class="navigation-container flex column">
            <div class="navigation mobile flex align-center justify-between">
              <img
                class="logo mobile"
                src="../assets/shared/logo.svg"
                alt="Logo of the site"
              />
              <div class="navigation-divider mobile divider-white"></div>
              <div class="navigation-menu-container mobile flex">
                <img
                  src="../assets/shared/icon-close.svg"
                  class="navigation-mobile-menu-close mobile flex"
                />
                <a
                  class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 00 </span>
                  Home
                </a>
                <a
                  class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 01 </span>
                  Destination
                </a>
                <a
                  class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 02 </span>
                  Crew
                </a>
                <a
                  class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 03 </span>
                  Technology
                </a>
              </div>
              <img
                src="../assets/shared/icon-hamburger.svg"
                class="navigation-mobile-menu mobile"
              />
            </div>
          </div>

          <div
            class="tabs-states flex row align-center"
            style="justify-content: space-around"
          >
            <div
              class="flex column justify-center align-center"
              style="gap: 3.938rem"
            >
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Whole Tabs Component **************************** -->
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Titan
                </a>
              </div>
              <!-- **************************** End Whole Tabs Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Titan
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Titan
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Titan
                </a>
              </div>
            </div>

            <div
              class="flex column justify-center align-center"
              style="gap: 3.938rem"
            >
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Titan
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Titan
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Titan
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-7 ff-barlow-cond letter-spacing-2 uppercase text-white"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Titan
                </a>
              </div>
            </div>
          </div>

          <div class="pagination-states grid">
            <div class="flex column justify-center" style="gap: 3.375rem">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Small Pagination Component **************************** -->
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination bg-white" style="opacity: 100%"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
              </div>
              <!-- **************************** End Small Pagination Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white" style="opacity: 100%"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white" style="opacity: 100%"></a>
                <a class="small-pagination bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white" style="opacity: 100%"></a>
              </div>
            </div>

            <div class="flex column justify-center" style="gap: 3.375rem">
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="small-pagination tablet bg-white"
                  style="opacity: 100%"
                ></a>
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination tablet bg-white"></a>
                <a
                  class="small-pagination tablet bg-white"
                  style="opacity: 100%"
                ></a>
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
                <a
                  class="small-pagination tablet bg-white"
                  style="opacity: 100%"
                ></a>
                <a class="small-pagination tablet bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
                <a
                  class="small-pagination tablet bg-white"
                  style="opacity: 100%"
                ></a>
              </div>
            </div>
          </div>

          <div class="pagination-states grid">
            <div class="flex column justify-center" style="gap: 3.375rem">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Large Pagination Component **************************** -->
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >1
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <!-- **************************** Start Large Pagination Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >2
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >3
                </a>
              </div>
            </div>

            <div class="flex column justify-center" style="gap: 3.375rem">
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >1
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >2
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >3
                </a>
              </div>
            </div>
          </div>

          <div class="pagination-states grid">
            <div class="flex column justify-center" style="gap: 3.375rem">
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >1
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >2
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >3
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
