<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <title>Components</title>
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../components/components.css" />
  </head>

  <body>
    <!-- Focus on star comments to copy components as it has lot of examples. -->
    <div class="main">
      <div class="container">
        <div class="component-container flex column">
          <h3 class="fs-3 ff-bellefair uppercase">Single Components</h3>

          <div class="logo flex">
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
            <!-- **************************** Start Logo Component **************************** -->
            <svg
              id="logo"
              width="3rem"
              height="3rem"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle cx="24" cy="24" r="24" fill="white" />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M24 0C24 0 24 24 0 24C23.5776 24.1714 24 48 24 48C24 48 24 24 48 24C24 24 24 0 24 0Z"
                fill="#0B0D17"
              />
            </svg>
            <!-- **************************** End Logo Component ****************************-->
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
          </div>

          <div class="navigation-states grid">
            <div class="navigation-state flex justify-center align-center">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Navigation Menu Component **************************** -->
              <a
                class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                href="../index.html"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu
              </a>
              <!-- **************************** End Navigation Menu Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <a
                class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                href="../index.html"
                style="border-color: hsl(var(--clr-white) / 0.5)"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu
              </a>
              <a
                class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                href="../index.html"
                style="border-color: hsl(var(--clr-white))"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu
              </a>
            </div>
            <div
              class="navigation-state flex column justify-center align-center"
            >
              <a
                class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                href="../index.html"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu
              </a>
              <a
                class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                href="../index.html"
                style="border-color: hsl(var(--clr-white) / 0.5)"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu
              </a>
              <a
                class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                href="../index.html"
                style="border-color: hsl(var(--clr-white))"
              >
                <span class="bold letter-spacing-207"> 00 </span>
                Menu
              </a>
            </div>
          </div>

          <div class="tabs-states flex justify-center">
            <div
              class="tabs-menu-container flex justify-center align-center"
              style="gap: 3.938rem"
            >
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Tabs Menu Component **************************** -->
              <a
                class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                href="../index.html"
              >
                Tabs Menu
              </a>
              <!-- **************************** End Tabs Menu Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <a
                class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                href="../index.html"
                style="border-color: hsl(var(--clr-white) / 0.5)"
              >
                Tabs Menu
              </a>
              <a
                class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                href="../index.html"
                style="border-color: hsl(var(--clr-white))"
              >
                Tabs Menu
              </a>
            </div>
          </div>

          <div class="button-states flex justify-center">
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
            <!-- **************************** Start Button Component **************************** -->
            <button class="button flex justify-center align-center bg-white">
              <span
                class="flex justify-center align-center fs-4 ff-bellefair text-dark uppercase"
                >Explore</span
              >
            </button>
            <!-- **************************** End Button Component **************************** -->
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->

            <button class="button flex justify-center align-center bg-white">
              <span
                class="flex justify-center align-center fs-4 ff-bellefair text-dark uppercase"
                style="
                  color: hsl(var(--clr-dark) / 0.5);
                  border-color: hsl(var(--clr-white) / 0.1);
                "
                >Explore</span
              >
            </button>
          </div>

          <div class="button-states flex justify-center">
            <button
              class="button mobile flex justify-center align-center bg-white"
            >
              <span
                class="flex justify-center align-center fs-9 ff-bellefair text-dark uppercase"
                >Explore</span
              >
            </button>
            <button
              class="button mobile flex justify-center align-center bg-white"
            >
              <span
                class="flex justify-center align-center fs-9 ff-bellefair text-dark uppercase"
                style="
                  color: hsl(var(--clr-dark) / 0.5);
                  border-color: hsl(var(--clr-white) / 0.1);
                "
                >Explore</span
              >
            </button>
          </div>

          <div class="pagination-states grid">
            <div class="flex justify-center" style="gap: 3.375rem">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Small Single Pagination Component **************************** -->
              <a class="small-pagination bg-white"></a>
              <!-- **************************** End Small Single Pagination Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <a class="small-pagination bg-white" style="opacity: 50.01%"></a>
              <a class="small-pagination bg-white" style="opacity: 100%"></a>
            </div>

            <div class="flex justify-center" style="gap: 3.375rem">
              <a class="small-pagination tablet bg-white"></a>
              <a
                class="small-pagination tablet bg-white"
                style="opacity: 50.01%"
              ></a>
              <a
                class="small-pagination tablet bg-white"
                style="opacity: 100%"
              ></a>
            </div>
          </div>

          <div class="pagination-states grid">
            <div class="flex justify-center" style="gap: 3.375rem">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Large Single Pagination Component **************************** -->
              <a
                class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                >0
              </a>
              <!-- **************************** End Large Single Pagination Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <a
                class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                style="border-color: hsl(var(--clr-white))"
                >0
              </a>
              <a
                class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                style="
                  color: hsl(var(--clr-dark));
                  background-color: hsl(var(--clr-white));
                  border-color: hsl(var(--clr-white));
                "
                >0
              </a>
            </div>

            <div class="flex justify-center" style="gap: 3.375rem">
              <a
                class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                >0
              </a>
              <a
                class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                style="border-color: hsl(var(--clr-white))"
                >0
              </a>
              <a
                class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                style="
                  color: hsl(var(--clr-dark));
                  background-color: hsl(var(--clr-white));
                  border-color: hsl(var(--clr-white));
                "
                >0
              </a>
            </div>
          </div>
        </div>

        <div class="component-container flex column">
          <h3 class="fs-3 ff-bellefair uppercase">Grouped Components</h3>
          <div class="navigation-container flex column">
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
            <!-- **************************** Start Whole Navigation Component **************************** -->
            <div class="navigation flex align-center justify-between">
              <div id="logo" class="navigation-logo flex">
                <svg
                  width="3rem"
                  height="3rem"
                  viewBox="0 0 48 48"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="24" cy="24" r="24" fill="white" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 0C24 0 24 24 0 24C23.5776 24.1714 24 48 24 48C24 48 24 24 48 24C24 24 24 0 24 0Z"
                    fill="#0B0D17"
                  />
                </svg>
              </div>
              <div class="navigation-divider divider-white"></div>
              <div class="navigation-menu-container flex align-center">
                <div class="navigation-mobile-menu-close flex">
                  <svg
                    width="24"
                    height="21"
                    viewBox="0 0 24 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="4.5752"
                      y="0.954102"
                      width="24"
                      height="3"
                      transform="rotate(45 4.5752 0.954102)"
                      fill="#D0D6F9"
                    />
                    <rect
                      x="2.4541"
                      y="17.9246"
                      width="24"
                      height="3"
                      transform="rotate(-45 2.4541 17.9246)"
                      fill="#D0D6F9"
                    />
                  </svg>
                </div>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 00 </span>
                  Home
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 01 </span>
                  Destination
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 02 </span>
                  Crew
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 03 </span>
                  Technology
                </a>
              </div>
              <div class="navigation-mobile-menu">
                <svg
                  width="24"
                  height="22"
                  viewBox="0 0 24 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="menu">
                    <rect
                      id="Rectangle"
                      y="0.5"
                      width="24"
                      height="3"
                      fill="#D0D6F9"
                    />
                    <rect
                      id="Rectangle Copy"
                      y="9.5"
                      width="24"
                      height="3"
                      fill="#D0D6F9"
                    />
                    <rect
                      id="Rectangle Copy 2"
                      y="18.5"
                      width="24"
                      height="3"
                      fill="#D0D6F9"
                    />
                  </g>
                </svg>
              </div>
            </div>
            <!-- **************************** End Whole Navigation Component **************************** -->
            <!-- 
            *****
            *****
            *****
            *****
            *****
            -->
          </div>

          <div class="navigation-container flex column">
            <div class="navigation tablet flex align-center justify-between">
              <div id="logo" class="navigation-logo tablet flex">
                <svg
                  width="3rem"
                  height="3rem"
                  viewBox="0 0 48 48"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="24" cy="24" r="24" fill="white" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 0C24 0 24 24 0 24C23.5776 24.1714 24 48 24 48C24 48 24 24 48 24C24 24 24 0 24 0Z"
                    fill="#0B0D17"
                  />
                </svg>
              </div>
              <div class="navigation-divider tablet divider-white"></div>
              <div class="navigation-menu-container tablet flex align-center">
                <div class="navigation-mobile-menu-close flex">
                  <svg
                    width="24"
                    height="21"
                    viewBox="0 0 24 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="4.5752"
                      y="0.954102"
                      width="24"
                      height="3"
                      transform="rotate(45 4.5752 0.954102)"
                      fill="#D0D6F9"
                    />
                    <rect
                      x="2.4541"
                      y="17.9246"
                      width="24"
                      height="3"
                      transform="rotate(-45 2.4541 17.9246)"
                      fill="#D0D6F9"
                    />
                  </svg>
                </div>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 00 </span>
                  Home
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 01 </span>
                  Destination
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 02 </span>
                  Crew
                </a>
                <a
                  class="navigation-menu flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 03 </span>
                  Technology
                </a>
              </div>
              <div class="navigation-mobile-menu">
                <svg
                  width="24"
                  height="22"
                  viewBox="0 0 24 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="menu">
                    <rect
                      id="Rectangle"
                      y="0.5"
                      width="24"
                      height="3"
                      fill="#D0D6F9"
                    />
                    <rect
                      id="Rectangle Copy"
                      y="9.5"
                      width="24"
                      height="3"
                      fill="#D0D6F9"
                    />
                    <rect
                      id="Rectangle Copy 2"
                      y="18.5"
                      width="24"
                      height="3"
                      fill="#D0D6F9"
                    />
                  </g>
                </svg>
              </div>
            </div>
          </div>
          <div class="navigation-container flex column">
            <div class="navigation mobile flex align-center justify-between">
              <div id="logo" class="navigation-logo mobile flex align-center">
                <svg
                  width="3rem"
                  height="3rem"
                  viewBox="0 0 48 48"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle cx="24" cy="24" r="24" fill="white" />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M24 0C24 0 24 24 0 24C23.5776 24.1714 24 48 24 48C24 48 24 24 48 24C24 24 24 0 24 0Z"
                    fill="#0B0D17"
                  />
                </svg>
              </div>
              <div class="navigation-divider mobile divider-white"></div>
              <div class="navigation-menu-container mobile flex">
                <div class="navigation-mobile-menu-close mobile flex">
                  <svg
                    width="24"
                    height="21"
                    viewBox="0 0 24 21"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="4.5752"
                      y="0.954102"
                      width="24"
                      height="3"
                      transform="rotate(45 4.5752 0.954102)"
                      fill="#D0D6F9"
                    />
                    <rect
                      x="2.4541"
                      y="17.9246"
                      width="24"
                      height="3"
                      transform="rotate(-45 2.4541 17.9246)"
                      fill="#D0D6F9"
                    />
                  </svg>
                </div>
                <a
                  class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 00 </span>
                  Home
                </a>
                <a
                  class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 01 </span>
                  Destination
                </a>
                <a
                  class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 02 </span>
                  Crew
                </a>
                <a
                  class="navigation-menu mobile flex align-center fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  <span class="bold letter-spacing-207"> 03 </span>
                  Technology
                </a>
              </div>
              <div class="navigation-mobile-menu mobile">
                <svg
                  width="24"
                  height="22"
                  viewBox="0 0 24 22"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="menu">
                    <rect
                      id="Rectangle"
                      y="0.5"
                      width="24"
                      height="3"
                      fill="#D0D6F9"
                    />
                    <rect
                      id="Rectangle Copy"
                      y="9.5"
                      width="24"
                      height="3"
                      fill="#D0D6F9"
                    />
                    <rect
                      id="Rectangle Copy 2"
                      y="18.5"
                      width="24"
                      height="3"
                      fill="#D0D6F9"
                    />
                  </g>
                </svg>
              </div>
            </div>
          </div>

          <div
            class="tabs-states flex row align-center"
            style="justify-content: space-around"
          >
            <div
              class="flex column justify-center align-center"
              style="gap: 3.938rem"
            >
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Whole Tabs Component **************************** -->
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Titan
                </a>
              </div>
              <!-- **************************** End Whole Tabs Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Titan
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Titan
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Moon
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Mars
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                >
                  Europa
                </a>
                <a
                  class="tabs-menu flex fs-8 ff-barlow-cond letter-spacing-2 uppercase"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  Titan
                </a>
              </div>
            </div>

            <div
              class="flex column justify-center align-center"
              style="gap: 3.938rem"
            >
              <div class="tabs-menu-container flex justify-center align-center">
                <a
                  class="tabs-menu flex"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Moon
                  </p>
                </a>
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Mars
                  </p>
                </a>
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Europa
                  </p> </a
                ><a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Europa
                  </p>
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Moon
                  </p>
                </a>
                <a
                  class="tabs-menu flex"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Mars
                  </p>
                </a>
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Europa
                  </p>
                </a>
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Europa
                  </p>
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Moon
                  </p>
                </a>
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Mars
                  </p>
                </a>
                <a
                  class="tabs-menu flex"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Europa
                  </p>
                </a>
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Europa
                  </p>
                </a>
              </div>
              <div class="tabs-menu-container flex justify-center align-center">
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Moon
                  </p>
                </a>
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Mars
                  </p>
                </a>
                <a class="tabs-menu flex" href="../index.html">
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Europa
                  </p>
                </a>
                <a
                  class="tabs-menu flex"
                  href="../index.html"
                  style="border-color: hsl(var(--clr-white))"
                >
                  <p class="fs-7 ff-barlow-cond letter-spacing-2 uppercase">
                    Europa
                  </p>
                </a>
              </div>
            </div>
          </div>

          <div class="pagination-states grid">
            <div class="flex column justify-center" style="gap: 3.375rem">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Small Pagination Component **************************** -->
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination bg-white" style="opacity: 100%"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
              </div>
              <!-- **************************** End Small Pagination Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white" style="opacity: 100%"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white" style="opacity: 100%"></a>
                <a class="small-pagination bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white"></a>
                <a class="small-pagination bg-white" style="opacity: 100%"></a>
              </div>
            </div>

            <div class="flex column justify-center" style="gap: 3.375rem">
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="small-pagination tablet bg-white"
                  style="opacity: 100%"
                ></a>
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination tablet bg-white"></a>
                <a
                  class="small-pagination tablet bg-white"
                  style="opacity: 100%"
                ></a>
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
                <a
                  class="small-pagination tablet bg-white"
                  style="opacity: 100%"
                ></a>
                <a class="small-pagination tablet bg-white"></a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
                <a class="small-pagination tablet bg-white"></a>
                <a
                  class="small-pagination tablet bg-white"
                  style="opacity: 100%"
                ></a>
              </div>
            </div>
          </div>

          <div class="pagination-states grid">
            <div class="flex column justify-center" style="gap: 3.375rem">
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->
              <!-- **************************** Start Large Pagination Component **************************** -->
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >1
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <!-- **************************** Start Large Pagination Component **************************** -->
              <!-- 
              *****
              *****
              *****
              *****
              *****
              -->

              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >2
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination fs-4 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >3
                </a>
              </div>
            </div>

            <div class="flex column justify-center" style="gap: 3.375rem">
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >1
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >2
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination tablet fs-6 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >3
                </a>
              </div>
            </div>
          </div>

          <div class="pagination-states grid">
            <div class="flex column justify-center" style="gap: 3.375rem">
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >1
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >2
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >3
                </a>
              </div>
              <div class="flex justify-center" style="gap: 3.375rem">
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >1
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  >2
                </a>
                <a
                  class="large-pagination mobile fs-9 ff-bellefair flex justify-center align-center"
                  style="
                    color: hsl(var(--clr-dark));
                    background-color: hsl(var(--clr-white));
                    border-color: hsl(var(--clr-white));
                  "
                  >3
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
